body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    padding: 20px;
}

button {
    background-color: #004080;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0059b3;
}
