<!-- {% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    <label>Username</label><br>
    <input type="text" name="username" required><br>
    <label>Password</label><br>
    <input type="password" name="password" required><br><br>
    <button type="submit">Login</button>
</form>
{% if error_message %}
<p style="color:red">{{ error_message }}</p>
{% endif %}
{% endblock %} -->
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="col-md-4 offset-md-4">
  <h3>Login</h3>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label>Username</label>
      <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input type="password" name="password" class="form-control" required>
    </div>
    <button class="btn btn-primary w-100" type="submit">Login</button>
  </form>
</div>
{% endblock %}
